<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.continental.ibs.swemt.stephandler.StepHandlerCommand" name="StepHandler Command" schema="schema/com.continental.ibs.swemt.stephandler.StepHandlerCommand.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.continental.ibs.swemt.stephandler.StartUp">
      </startup>
   </extension>
</plugin>
