<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="eu.cessar.ct.validation.ui"
            objectClass="java.lang.Object">
         <action
               class="eu.cessar.ct.validation.ui.internal.actions.CleanProblemMarkersAction"
               definitionId="eu.cessar.ct.validation.ui.CleanProblemMarkersCommand"
               id="eu.cessar.ct.validation.ui.cleanMarkersAction"
               label="Clean problem markers"
               menubarPath="eu.cessar.ct.ui.navigator.menu/validateGroup">
         </action>
         <action
               class="eu.cessar.ct.validation.ui.internal.actions.ValidateAutosarContentAction"
               definitionId="eu.cessar.ct.validation.ui.ValidateFileBasedCommand"
               icon="icons/validate.png"
               id="eu.cessar.ct.validation.ui.validateAUTOSARContentAction"
               label="Validate file-based AUTOSAR content"
               menubarPath="eu.cessar.ct.ui.navigator.menu/validateGroup">
         </action>
         <visibility>
            <or>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectState
                        name="open"
                        value="true">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="eu.cessar.ct.core.platform.cessarnature">
                  </objectState>
               </and>
               <objectClass
                     name="org.eclipse.core.resources.IFolder">
               </objectClass>
               <or>
                  <and>
                     <objectClass
                           name="org.eclipse.core.resources.IFile">
                     </objectClass>
                     <objectState
                           name="contentTypeId"
                           value="org.artop.aal.autosar21.autosar21XMLFile">
                     </objectState>
                  </and>
                  <and>
                     <objectClass
                           name="org.eclipse.core.resources.IFile">
                     </objectClass>
                     <objectState
                           name="contentTypeId"
                           value="org.artop.aal.autosar3x.autosar3xXMLFile">
                     </objectState>
                  </and>
                  <and>
                     <objectClass
                           name="org.eclipse.core.resources.IFile">
                     </objectClass>
                     <objectState
                           name="contentTypeId"
                           value="org.artop.aal.autosar40.autosar40XMLFile">
                     </objectState>
                  </and>
               </or>
               <objectClass
                     name="gautosar.ggenericstructure.ginfrastructure.GARObject">
               </objectClass>
            </or>
         </visibility>
         <action
               class="eu.cessar.ct.validation.ui.internal.actions.ValidateFilteredAutosarContentAction"
               icon="icons/validate.png"
               id="eu.cessar.ct.validation.ui.validateFilteredAUTOSARContentAction"
               label="Validate filtered AUTOSAR content"
               menubarPath="eu.cessar.ct.ui.navigator.menu/validateGroup">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="eu.cessar.ct.validation.ui"
            objectClass="java.lang.Object">
         <action
               class="eu.cessar.ct.validation.ui.internal.actions.ValidateMergedAutosarContentAction"
               icon="icons/validate.png"
               id="eu.cessar.ct.validation.ui.validateMergedAUTOSARContentAction"
               label="Validate merged AUTOSAR content"
               menubarPath="eu.cessar.ct.ui.navigator.menu/validateGroup">
               
         </action>
         <visibility>
           <or>           	   
           	   <!-- at the project level -->
	           <and>
	              <objectClass
	                    name="org.eclipse.core.resources.IProject">
	              </objectClass>
	              <objectState
	                    name="open"
	                    value="true">
	              </objectState>
	              <objectState
	                    name="projectNature"
	                    value="eu.cessar.ct.core.platform.cessarnature">
	              </objectState>
	           </and>
	           <!-- for the tree editor -->
		       <objectClass
	           		name="gautosar.ggenericstructure.ginfrastructure.GARObject">
	           </objectClass>	           
	           <!-- for the model editor -->
	           <objectClass
		           	name="org.artop.aal.gautosar.services.splitting.Splitable">
		        </objectClass>
           </or>           
         </visibility>
      </objectContribution>
   </extension>   
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="eu.cessar.ct.workspace.ui.prefPages.cessar"
            class="eu.cessar.ct.validation.ui.internal.preferences.CessarValidationPrefAndPropPage"
            id="eu.cessar.ct.validation.ui.CessarValidationPreferencePage"
            name="Validation">
      </page>
   </extension>
   <extension
   		point="org.eclipse.ui.preferencePages">
      <page
            category="eu.cessar.ct.validation.ui.CessarValidationPreferencePage"
            class="eu.cessar.ct.validation.ui.preferences.CessarConstraints"
            id="eu.cessar.ct.validation.ui.preferences.CessarConstraints"
            name="Constraints">
      </page>
   </extension>
   <extension
   		point="org.eclipse.ui.preferencePages">
      <page
            category="eu.cessar.ct.validation.ui.preferences.CessarConstraints"
            class="eu.cessar.ct.validation.ui.preferences.CessarConstraint21PreferencePage"
            id="eu.cessar.ct.validation.ui.preferences.CessarConstraint21PreferencePage"
            name="AUTOSAR 2.1">
      </page>
   </extension>
   <extension
   		point="org.eclipse.ui.preferencePages">
      <page
            category="eu.cessar.ct.validation.ui.preferences.CessarConstraints"
            class="eu.cessar.ct.validation.ui.preferences.CessarConstraint3xPreferencePage"
            id="eu.cessar.ct.validation.ui.preferences.CessarConstraint3xPreferencePage"
            name="AUTOSAR 3.x">
      </page>
   </extension>
   <extension
   		point="org.eclipse.ui.preferencePages">
      <page
            category="eu.cessar.ct.validation.ui.preferences.CessarConstraints"
            class="eu.cessar.ct.validation.ui.preferences.CessarConstraint40PreferencePage"
            id="eu.cessar.ct.validation.ui.preferences.CessarConstraint40PreferencePage"
            name="AUTOSAR 4.0">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="eu.cessar.ct.workspace.ui.propertyPages.cessar"
            class="eu.cessar.ct.validation.ui.internal.preferences.CessarValidationPrefAndPropPage"
            id="eu.cessar.ct.validation.ui.CessarValidationPropertyPage"
            name="Validation">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="eu.cessar.ct.core.platform.cessarnature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="eu.cessar.ct.validation.ui.internal.decorators.BasicLightweightMergedValidationDecorator"
            id="eu.cessar.ct.validation.ui.mergedecorator"
            label="%MergedDecorator.label"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.emf.common.notify.Notifier">
            </objectClass>
         </enablement>
         <description>
            %MergedDecorator.description
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="eu.cessar.ct.views"
            class="eu.cessar.ct.validation.ui.CessarValidationView"
            icon="icons/validation_view.gif"
            id="eu.cessar.ct.validation.ui.views.validationView"
            name="Validation"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eu.cessar.ct.validation.ui.CleanProblemMarkersCommand"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+R">
      </key>
      <key
            commandId="eu.cessar.ct.validation.ui.ValidateFileBasedCommand"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+X">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.cessar.ct.validation.ui.internal.actions.CleanProblemMarkersHandler"
            commandId="eu.cessar.ct.validation.ui.CleanProblemMarkersCommand">
      </handler>
      <handler
            class="eu.cessar.ct.validation.ui.internal.actions.ValidateFileBasedContentHandler"
            commandId="eu.cessar.ct.validation.ui.ValidateFileBasedCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="eu.cessar.ct.validation.ui.cessarctCathegory"
            id="eu.cessar.ct.validation.ui.CleanProblemMarkersCommand"
            name="Clean Problem Markers">
      </command>
      <command
            categoryId="eu.cessar.ct.validation.ui.cessarctCathegory"
            id="eu.cessar.ct.validation.ui.ValidateFileBasedCommand"
            name="Validate file-based AUTOSAR Content">
      </command>
      <category
            id="eu.cessar.ct.validation.ui.cessarctCathegory"
            name="CESSAR-CT">
      </category>
   </extension>

</plugin>
