<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="eu.cessar.ct.newWizards.category"
           name="%cessar.ct.category">
     </category>
     <wizard
           category="eu.cessar.ct.newWizards.category"
           class="eu.cessar.ct.workspace.ui.internal.wizards.NewCessarProjectWizard"
           finalPerspective="eu.cessar.ct.platform.CessarPerspective"
           hasPages="true"
           icon="images/arlogo16.png"
           id="eu.cessar.ct.workspace.ui.wizard.CessarProject"
           name="%cessar.ct.project"
           project="true">
        <selection
              class="org.eclipse.core.resources.IResource">
        </selection>
        <description>
           Create a new CESSAR project that holds AUTOSAR resources
        </description>
     </wizard>
     <wizard
           category="eu.cessar.ct.newWizards.category"
           class="eu.cessar.ct.workspace.ui.internal.wizards.NewCessarFileWizard"
           icon="images/arlogo16.png"
           id="eu.cessar.ct.workspace.ui.wizard.CessarFile"
           name="%cessar.ct.file"
           preferredPerspectives="eu.cessar.ct.platform.CessarPerspective"
           project="false">
        <selection
              class="org.eclipse.core.resources.IResource">
        </selection>
        <description>
           Create a new AUTOSAR resource inside an CESSAR project
        </description>
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.console.consoleFactories">
     <consoleFactory
           class="eu.cessar.ct.workspace.ui.internal.logging.LoggerConsoleFactory"
           icon="images/arlogo16.png"
           label="%cessar.ct.console">
     </consoleFactory>
  </extension>
  <extension
        point="org.eclipse.ui.viewActions">
     <viewContribution
           id="eu.cessar.ct.console.viewContribution"
           targetID="org.eclipse.ui.console.ConsoleView">
        <action
              class="eu.cessar.ct.workspace.ui.internal.logging.ConsolePreferencesAction"
              icon="images/arlogo16.png"
              id="eu.cessar.ct.console.Preferences"
              label="%cessar.ct.console.menu.prefs"
              menubarPath="additions"
              style="push">
        </action>
        <action
              class="eu.cessar.ct.workspace.ui.internal.logging.ConsoleSaveAsAction"
              icon="images/saveas.png"
              id="eu.cessar.ct.console.SaveAs"
              label="%cessar.ct.console.menu.save"
              menubarPath="additions"
              style="push">
        </action>
     </viewContribution>
  </extension>
  <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           id="eu.cessar.ct.workspace.ui.actionSet1"
           label="label">
     </actionSet>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="eu.cessar.ct.platform.CessarPerspective">
        <!--newWizardShortcut
              id="eu.cessar.ct.workspace.ui.wizard.CessarFile">
        </newWizardShortcut>
        <newWizardShortcut
              id="eu.cessar.ct.workspace.ui.wizard.CessarProject">
        </newWizardShortcut-->
        <newWizardShortcut
              id="org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
        </newWizardShortcut>
        <newWizardShortcut
              id="org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard">
        </newWizardShortcut>
        <newWizardShortcut
              id="org.eclipse.jdt.ui.wizards.NewEnumCreationWizard">
        </newWizardShortcut>
        <newWizardShortcut
              id="org.eclipse.jdt.ui.wizards.NewPackageCreationWizard">
        </newWizardShortcut>
        <newWizardShortcut
              id="org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard">
        </newWizardShortcut>
        <view
              id="org.eclipse.ui.views.ContentOutline"
              minimized="true"
              ratio="0.15"
              relationship="stack"
              relative="org.eclipse.ui.navigator.ProjectExplorer"
              standalone="true">
        </view>
     </perspectiveExtension>
  </extension>

<extension
        point="org.eclipse.ui.propertyPages">
     <page
           class="eu.cessar.ct.workspace.ui.internal.preferences.CessarPrefAndPropPage"
           id="eu.cessar.ct.workspace.ui.propertyPages.cessar"
           name="CESSAR">
            <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
           <test
                 property="org.eclipse.core.resources.projectNature"
                 value="eu.cessar.ct.core.platform.cessarnature">
           </test></adapt>
      </enabledWhen>
     </page>
     <page
           category="eu.cessar.ct.workspace.ui.propertyPages.cessar"
           class="eu.cessar.ct.workspace.ui.internal.preferences.CodeGenerationPrefAndPropPage"
           id="eu.cessar.ct.workspace.ui.CodeGenerationPropPage"
           name="Code Generation">
        <enabledWhen>
           <adapt
                 type="org.eclipse.core.resources.IProject">
              <test
                    property="org.eclipse.core.resources.projectNature"
                    value="eu.cessar.ct.core.platform.cessarnature">
              </test>
           </adapt>
        </enabledWhen>
     </page>
     <page
           category="eu.cessar.ct.workspace.ui.propertyPages.cessar"
           class="eu.cessar.ct.workspace.ui.internal.preferences.CompatibilityModePrefAndPropPage"
           id="eu.cessar.ct.workspace.ui.CompatModePropPage"
           name="Compatibility Mode">
        <enabledWhen>
           <adapt
                 type="org.eclipse.core.resources.IProject">
              <test
                    property="org.eclipse.core.resources.projectNature"
                    value="eu.cessar.ct.core.platform.cessarnature">
              </test>
           </adapt>
        </enabledWhen>
     </page>
     <page
           category="eu.cessar.ct.workspace.ui.propertyPages.cessar"
           class="eu.cessar.ct.workspace.ui.internal.preferences.CessarProjectConsistencyPrefAndPropPage"
           id="eu.cessar.ct.workspace.ui.CessarProjectConsistencyPropertyPage"
           name="Project Consistency">
     </page>
  </extension>
<!--extension
      point="org.eclipse.ui.navigator.navigatorContent">
   <commonWizard
         menuGroupId="_cessar"
         type="new"
         wizardId="eu.cessar.ct.workspace.ui.wizard.CessarProject">
      <enablement></enablement>
   </commonWizard>
   <commonWizard
         menuGroupId="_cessar"
         type="new"
         wizardId="eu.cessar.ct.workspace.ui.wizard.CessarFile">
      <enablement>
         <adapt
               type="org.eclipse.core.resources.IResource">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="eu.cessar.ct.core.platform.cessarnature">
            </test>
         </adapt>
      </enablement>
   </commonWizard>
</extension-->
<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         adaptable="true"
         id="eu.cessar.ct.workspace.ui.navigator.contrib"
         objectClass="org.eclipse.core.resources.IResource">
      <menu
            icon="images/arlogo16.png"
            id="eu.cessar.ct.ui.navigator.menu"
            label="CESSAR"
            path="group.new">
         <separator
               name="jet">
         </separator>
         <separator
               name="pm">
         </separator>
         <separator
               name="syncclean">
         </separator>
         <groupMarker
               name="validateGroup">
         </groupMarker>
         <groupMarker
               name="cleanGroup">
         </groupMarker>
         <separator
               name="xmlChecker">
         </separator>
         <separator
               name="newProject">
         </separator>
         <separator
               name="convertProject">
         </separator>
         <separator
               name="newModule">
         </separator>
         <separator
               name="open">
         </separator>
         <separator
               name="additions">
         </separator>
         <separator
               name="automation">
         </separator>
         <groupMarker
               name="mappingEditors">
         </groupMarker>
         <separator
               name="expertUIGroup">
         </separator>
      </menu>
   </objectContribution>
   <objectContribution
         adaptable="false"
         id="eu.cessar.ct.workspace.ui.wizard.new.project"
         objectClass="org.eclipse.core.resources.IResource">
      <action
            class="eu.cessar.ct.workspace.ui.internal.actions.NewCessarFileAction"
            definitionId="eu.cessar.ct.workspace.ui.NewCessarFileCommand"
            helpContextId="new_cessar_file_wizard_context"
            icon="images/arlogo16.png"
            id="eu.cessar.ct.workspace.ui.wizard.newCessarFile"
            label="%new.cessar.ct.file"
            menubarPath="eu.cessar.ct.ui.navigator.menu/newProject">
      </action>
      <action
            class="eu.cessar.ct.workspace.ui.internal.actions.NewCessarProjectAction"
            definitionId="eu.cessar.ct.workspace.ui.NewCessarProjectCommand"
            helpContextId="new_cessar_project_wizard_context"
            icon="images/arlogo16.png"
            id="eu.cessar.ct.workspace.ui.wizard.newCessarProject"
            label="%new.cessar.ct.project"
            menubarPath="eu.cessar.ct.ui.navigator.menu/newProject">
      </action>
      <filter
            name="projectNature"
            value="eu.cessar.ct.core.platform.cessarnature">
      </filter>
   </objectContribution>
   <objectContribution
         adaptable="false"
         id="eu.cessar.ct.workspace.ui.internal.actions.StartXMLCheckerAction"
         objectClass="org.eclipse.core.resources.IResource">
      <action
            class="eu.cessar.ct.workspace.ui.internal.actions.StartXMLConsistencyCheckAction"
            enablesFor="1"
            id="eu.cessar.ct.workspace.ui.action1"
            label="%action.xmlchecker"
            menubarPath="eu.cessar.ct.ui.navigator.menu/xmlChecker">
      </action>
      <visibility>
         <or>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <objectState
                     name="projectNature"
                     value="eu.cessar.ct.core.platform.cessarnature">
               </objectState>
            </and>
         </or>
      </visibility>
      <action
            class="eu.cessar.ct.workspace.ui.internal.actions.StartProjectConsistencyCheckAction"
            enablesFor="1"
            id="eu.cessar.ct.workspace.ui.action1"
            label="%action.projectconsistencychecker"
            menubarPath="eu.cessar.ct.ui.navigator.menu/xmlChecker">
      </action>
   </objectContribution>
   <objectContribution
         adaptable="false"
         id="eu.cessar.ct.workspace.ui.wizard.ConvertProject"
         objectClass="org.eclipse.core.resources.IResource">
      <action
            class="eu.cessar.ct.workspace.ui.internal.actions.ConvertProjectToCESSARAction"
            helpContextId="project_conversion_wizard_page_context"
            icon="images/arlogo16.png"
            id="eu.cessar.ct.workspace.ui.internal.actions.convertProjectToCESSAR"
            label="%action.projectconversion"
            menubarPath="eu.cessar.ct.ui.navigator.menu/convertProject">
      </action>
      <visibility>
         <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
           <or>
               <not>
                  <objectState
                        name="projectNature"
                        value="eu.cessar.ct.core.platform.cessarnature">
                  </objectState>
               </not>
               <not>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.jdt.core.javanature">
                  </objectState>
               </not>
               <not>
                  <objectState
                        name="projectNature"
                        value="org.artop.aal.workspace.autosarnature">
                  </objectState>
               </not>
            </or>
       	</and>
      </visibility>
   </objectContribution>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         class="eu.cessar.ct.workspace.ui.internal.preferences.CessarPrefAndPropPage"
         id="eu.cessar.ct.workspace.ui.prefPages.cessar"
         name="CESSAR">
   </page>
   <page
         category="eu.cessar.ct.workspace.ui.prefPages.cessar"
         class="eu.cessar.ct.workspace.ui.internal.preferences.CodeGenerationPrefAndPropPage"
         id="eu.cessar.ct.workspace.ui.CodeGenerationPrefPage"
         name="Code Generation">
   </page>
   <page
         category="eu.cessar.ct.workspace.ui.prefPages.cessar"
         class="eu.cessar.ct.workspace.ui.internal.preferences.CompatibilityModePrefAndPropPage"
         id="eu.cessar.ct.workspace.ui.CompatModePreffPage"
         name="Compatibility Mode">
   </page>
   <page
         category="eu.cessar.ct.workspace.ui.prefPages.cessar"
         class="eu.cessar.ct.workspace.ui.internal.preferences.DebugPreferencePage"
         id="eu.cessar.ct.workspace.ui.DebugPrefPage"
         name="Debug">
   </page>
   <page
         category="eu.cessar.ct.workspace.ui.prefPages.cessar"
         class="eu.cessar.ct.workspace.ui.internal.preferences.CessarProjectConsistencyPrefAndPropPage"
         id="eu.cessar.ct.workspace.ui.CessarProjectConsistencyPreferencePage"
         name="Project Consistency">
   </page>
</extension>
<extension
      point="org.eclipse.ui.decorators">
   <decorator
         class="eu.cessar.ct.workspace.ui.internal.decorator.FileStatusDecorator"
         icon="images/cessar-ct_logo.png"
         id="eu.cessar.ct.workspace.ui.fileModifiableDecorator"
         label="File status Decorator"
         lightweight="true"
         location="BOTTOM_RIGHT"
         state="true">
      <enablement>
         <or>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
            <objectClass
                  name="org.eclipse.core.resources.IFolder">
            </objectClass>
         </or>
      </enablement>
      <description>
         Decorate a resource based on the read-only state of the resource
      </description>
   </decorator>
   <decorator
         class="eu.cessar.ct.workspace.ui.internal.decorator.ProjectPhaseDecorator"
         id="eu.cessar.ct.workspace.ui.ProjectPhaseDecorator"
         label="Project Phase Decorator"
         lightweight="true"
         state="true">
      <enablement>
      <objectClass
            name="org.eclipse.core.resources.IProject">
      </objectClass>
      </enablement>
      <description>
         Decorate a project when it is in &quot;PRODUCTION&quot; phase
      </description>
   </decorator>
</extension>
<extension
      point="org.eclipse.ui.activities">
   <activity
         description="Disable unneeded E4 Activities"
         id="eu.cessar.ct.workspace.ui.e4.disable"
         name="DisableE4">
      <enabledWhen>
         <systemTest
               property="activity.e4.enabled"
               value="true">
         </systemTest>
      </enabledWhen>
   </activity>
   <activity
         description="Disable unneeded WST Activities"
         id="eu.cessar.ct.workspace.ui.wst.disable"
         name="DisableWST">
      <enabledWhen>
         <systemTest
               property="activity.wst.enabled"
               value="true">
         </systemTest>
      </enabledWhen>
   </activity>
   <activity
         description="Disable unneeded other Activities"
         id="eu.cessar.ct.workspace.ui.other.disable"
         name="DisableOther">
      <enabledWhen>
         <systemTest
               property="activity.other.enabled"
               value="true">
         </systemTest>
      </enabledWhen>
   </activity>
   <activity
         description="Disable unneeded Sphinx Activities"
         id="eu.cessar.ct.workspace.ui.sphinx.disable"
         name="DisableSphinx">
      <enabledWhen>
         <systemTest
               property="activity.sphinx.enabled"
               value="true">
         </systemTest>
      </enabledWhen>
   </activity>
   <activityPatternBinding
         activityId="eu.cessar.ct.workspace.ui.wst.disable"
         pattern="org.eclipse.wst.validation.ui.*">
   </activityPatternBinding>
   <activityPatternBinding
         activityId="eu.cessar.ct.workspace.ui.e4.disable"
         pattern="org.eclipse.e4.emf.javascript.ui.*">
   </activityPatternBinding>
   <activityPatternBinding
         activityId="eu.cessar.ct.workspace.ui.other.disable"
         pattern="org.eclipse.debug.ui.actions.WatchCommandmmand">
   </activityPatternBinding>
   <activityPatternBinding
         activityId="eu.cessar.ct.workspace.ui.sphinx.disable"
         pattern="org.eclipse.sphinx.examples.hummingbird10.editor.*">
   </activityPatternBinding>
   <activityPatternBinding
         activityId="eu.cessar.ct.workspace.ui.sphinx.disable"
         pattern="org.eclipse.sphinx.examples.hummingbird20.editor.*">
   </activityPatternBinding>
   <activityPatternBinding
         activityId="eu.cessar.ct.workspace.ui.sphinx.disable"
         pattern="org.eclipse.sphinx.examples.hummingbird.ide.ui.*">
   </activityPatternBinding>
   <activityPatternBinding
         activityId="eu.cessar.ct.workspace.ui.sphinx.disable"
         pattern="org.eclipse.sphinx.emf.serialization.*">
   </activityPatternBinding>
   <activityPatternBinding
         activityId="eu.cessar.ct.workspace.ui.sphinx.disable"
         pattern="org.eclipse.sphinx.examples.validation.ui.*">
   </activityPatternBinding>
</extension>
<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         adaptable="false"
         id="eu.cessar.ct.workspace.ui.sortAction"
         objectClass="gautosar.ggenericstructure.ginfrastructure.GARObject">
      <action
            class="eu.cessar.ct.workspace.ui.sort.SortAction"
            id="eu.cessar.ct.workspace.ui.sortAction"
            label="Sort"
            menubarPath="eu.cessar.ct.ui.navigator.menu/sort">
      </action>
      <visibility>
         <and>
            <not>
               <objectClass
                     name="gautosar.gecucdescription.GModuleConfiguration">
               </objectClass>
            </not>
            <not>
               <objectClass
                     name="gautosar.gecucdescription.GContainer">
               </objectClass>
            </not>
            <not>
               <objectClass
                     name="org.artop.aal.gautosar.services.splitting.Splitable">
               </objectClass>
            </not>
         </and>
      </visibility>
   </objectContribution>
</extension>
<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         adaptable="false"
         id="eu.cessar.ct.workspace.ui.model.doc"
         objectClass="org.eclipse.core.resources.IResource">
      <action
            class="eu.cessar.ct.workspace.ui.internal.actions.ModelDocumentationAction"
            id="eu.cessar.ct.workspace.ui.model.doc.action"
            label="%model.doc.action"
            menubarPath="eu.cessar.ct.ui.navigator.menu/cleanGroup">
      </action>
      <visibility>
         <or>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
            </and>
            <or>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectState
                        name="contentTypeId"
                        value="org.artop.aal.autosar21.autosar21XMLFile">
                  </objectState>
               </and>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectState
                        name="contentTypeId"
                        value="org.artop.aal.autosar3x.autosar3xXMLFile">
                  </objectState>
               </and>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectState
                        name="contentTypeId"
                        value="org.artop.aal.autosar40.autosar40XMLFile">
                  </objectState>
               </and>
            </or>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFolder">
               </objectClass>
            </and>
         </or>
      </visibility>
      <enablement>
         <test 
               property="org.eclipse.core.resources.projectNature" 
               value="eu.cessar.ct.core.platform.cessarnature">            	
         </test>
      </enablement>
   </objectContribution>
</extension>
<extension
      point="org.eclipse.ui.themes">
   <themeElementCategory
         id="eu.cessar.ct.edit.cessar"
         label="%theme.cessar">
   </themeElementCategory>
   <themeElementCategory
         id="eu.cessar.ct.workspace.ui.consoleEdit"
         label="%theme.cessar.consoleEdit"
         parentId="eu.cessar.ct.edit.cessar">
   </themeElementCategory>
   <colorDefinition
         categoryId="eu.cessar.ct.workspace.ui.consoleEdit"
         id="eu.cessar.ct.workspace.ui.consoleEdit.debugcolor"
         label="%theme.cessar.consoleEdit.debugcolor"
         value="COLOR_BLUE">
      <description>
         Sets the color for the Debug messages in the Console
      </description>
   </colorDefinition>
   <colorDefinition
         categoryId="eu.cessar.ct.workspace.ui.consoleEdit"
         id="eu.cessar.ct.workspace.ui.consoleEdit.infocolor"
         label="%theme.cessar.consoleEdit.infocolor"
         value="COLOR_BLACK">
      <description>
         Sets the color for the Info messages in the Console
      </description>
   </colorDefinition>
   <colorDefinition
         categoryId="eu.cessar.ct.workspace.ui.consoleEdit"
         id="eu.cessar.ct.workspace.ui.consoleEdit.warningcolor"
         label="%theme.cessar.consoleEdit.warningcolor"
         value="255, 127, 0">
      <description>
         Sets the color for the Warning messages in the Console
      </description>
   </colorDefinition>
   <colorDefinition
         categoryId="eu.cessar.ct.workspace.ui.consoleEdit"
         id="eu.cessar.ct.workspace.ui.consoleEdit.errorcolor"
         label="%theme.cessar.consoleEdit.errorcolor"
         value="COLOR_RED">
      <description>
         Sets the color for the Error messages in the Console
      </description>
   </colorDefinition>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <command
         id="eu.cessar.ct.workspace.ui.FAQCommand"
         name="CESSAR-CT FAQ">
   </command>
   <command
         categoryId="eu.cessar.ct.workspace.ui.cessarctCathegory"
         id="eu.cessar.ct.workspace.ui.NewCessarProjectCommand"
         name="New Cessar-CT Project">
   </command>
   <command
         categoryId="eu.cessar.ct.workspace.ui.cessarctCathegory"
         id="eu.cessar.ct.workspace.ui.NewCessarFileCommand"
         name="New Cessar-CT file">
   </command>
   <category
         id="eu.cessar.ct.workspace.ui.cessarctCathegory"
         name="CESSAR-CT">
   </category>
</extension>
<extension
      point="org.eclipse.ui.handlers">
   <handler
         class="eu.cessar.ct.workspace.ui.internal.actions.FAQHandler"
         commandId="eu.cessar.ct.workspace.ui.FAQCommand">
   </handler>
   <handler
         class="eu.cessar.ct.workspace.ui.internal.actions.NewCessarProjectHandler"
         commandId="eu.cessar.ct.workspace.ui.NewCessarProjectCommand">
   </handler>
   <handler
         class="eu.cessar.ct.workspace.ui.internal.actions.NewCessarFileHandler"
         commandId="eu.cessar.ct.workspace.ui.NewCessarFileCommand">
   </handler>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="menu:help?before=helpContents ">
      <command
            commandId="eu.cessar.ct.workspace.ui.FAQCommand"
            style="push">
      </command>
   </menuContribution>
</extension>
<extension
      point="org.eclipse.sphinx.emf.editingDomainFactoryListeners">
   <listener
         class="eu.cessar.ct.workspace.ui.internal.EditingDomainFactoryListener"
         id="eu.cessar.ct.workspace.ui.EditingListener">
      <applicableFor
            metaModelDescriptorIdPattern="org\.artop\.aal\.autosar.+">
      </applicableFor>
   </listener>
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="eu.cessar.ct.workspace.ui.NewCessarProjectCommand"
         contextId="org.eclipse.ui.contexts.dialogAndWindow"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+ALT+S">
   </key>
   <key
         commandId="eu.cessar.ct.workspace.ui.NewCessarFileCommand"
         contextId="org.eclipse.ui.contexts.dialogAndWindow"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+SHIFT+V">
   </key>
</extension>
</plugin>
