<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.cessar.ct.core.mms.cessarMetaModelService" name="CessarMetaModelService" schema="schema/cessarMetaModelService.exsd"/>
   <extension-point id="eu.cessar.ct.core.mms.emfAdaptorOverride" name="EmfAdaptorOverride" schema="schema/emfAdaptorOverride.exsd"/>
   
      <extension
         point="eu.cessar.ct.core.mms.emfAdaptorOverride">
          <factory
                factory="mms.internal.gautosar.gecucdescription.GModuleConfigurationAdapterFactory"
                priority="10"
                target="gautosar.gecucdescription.GModuleConfiguration">
             <adapter
                   type="eu.cessar.ct.core.mms.providers.ICategorizedChildrenProvider"></adapter>
             <adapter
                   type="org.eclipse.emf.edit.provider.IEditingDomainItemProvider">
             </adapter>
          </factory>
          <factory
                factory="mms.internal.gautosar.gecucdescription.GContainerAdapterFactory"
                priority="10"
                target="gautosar.gecucdescription.GContainer">
             <adapter
                   type="eu.cessar.ct.core.mms.providers.ICategorizedChildrenProvider"></adapter>
             <adapter
                   type="org.eclipse.emf.edit.provider.IEditingDomainItemProvider">
             </adapter>
          </factory>
          <factory
                factory="mms.internal.gautosar.ggenericstructure.ginfrastructure.GARObjectAdapterFactory"
                priority="0"
                target="gautosar.ggenericstructure.ginfrastructure.GARObject">
             <adapter
                   type="org.eclipse.emf.edit.provider.IEditingDomainItemProvider">
             </adapter>
             <adapter
                   type="org.eclipse.emf.edit.provider.ITreeItemContentProvider">
             </adapter>
          </factory>
      </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.artop.aal.autosar.autosarXMLFile"
            file-extensions="autosar, bmd, ecuconfig, ecuextract, epc, epd">
      </file-association>
   </extension>
   <extension
         point="eu.cessar.ct.core.platform.sdkService">
      <service
            provider="eu.cessar.ct.core.mms.internal.ModelUtilsProvider"
            serviceID="eu.cessar.ct.sdk.utils.ModelUtils$Service">
      </service>
   </extension>
   <extension
         point="org.eclipse.sphinx.emf.customCommands">
      <customCommand
            class="mms.internal.gautosar.gecucdescription.commands.AddGContainerInContainerCommand">
         <property
               featureName="subContainers"
               ownerType="gautosar.gecucdescription.GContainer">
         </property>
      </customCommand>
      <customCommand
            class="mms.internal.gautosar.gecucdescription.commands.AddGContainerInModuleCommand">
         <property
               featureName="containers"
               ownerType="gautosar.gecucdescription.GModuleConfiguration">
         </property>
      </customCommand>
   </extension>
   <extension
         point="org.eclipse.sphinx.emf.editingDomainFactoryListeners">
      <listener
            class="eu.cessar.ct.core.mms.internal.proxy.EditingDomainListener"
            id="eu.cessar.ct.core.mms.proxy.EditingDomainListener">
         <applicableFor
               metaModelDescriptorIdPattern="org\.artop\.aal\.autosar.+">
         </applicableFor>
      </listener>
   </extension>
   <extension
         point="eu.cessar.ct.core.platform.sdkService">
      <service
            provider="eu.cessar.ct.core.mms.SplitUtilsProvider"
            serviceID="eu.cessar.ct.sdk.utils.SplitUtils$IService">
      </service>
   </extension>   
</plugin>
