<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="cfs">
         <run
               class="eu.cessar.ct.runtime.ecuc.internal.cfs.CessarFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="eu.cessar.ct.runtime.cessarClasspathContributor">
      <provider
            class="eu.cessar.ct.runtime.ecuc.internal.classpath.EcucModelClasspathContributor"
            container="eu.cessar.ct.runtime.classpath.modelClasspathContainer"
            id="eu.cessar.ct.runtime.ecuc.modelCPContributor">
      </provider>
   </extension>
   <extension
         point="eu.cessar.ct.core.mms.emfAdaptorOverride">
      <factory
            factory="eu.cessar.ct.runtime.ecuc.internal.pm.adapt.RootNodeAdapterFactory"
            priority="0"
            target="org.eclipse.core.resources.IProject">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.runtime.ecuc.internal.pm.adapt.GARPackageAdapterFactory"
            priority="0"
            target="gautosar.ggenericstructure.ginfrastructure.GARPackage">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.runtime.ecuc.internal.pm.adapt.GModuleDefAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GModuleDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.runtime.ecuc.internal.pm.adapt.GParamConfContainerDefAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GParamConfContainerDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.runtime.ecuc.internal.pm.adapt.GChoiceContainerDefAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GChoiceContainerDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.runtime.ecuc.internal.pm.adapt.GAbstractStringParamDefAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GAbstractStringParamDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.runtime.ecuc.internal.pm.adapt.GBooleanParamDefAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GBooleanParamDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.runtime.ecuc.internal.pm.adapt.GIntegerParamDefAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GIntegerParamDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.runtime.ecuc.internal.pm.adapt.GFloatParamDefAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GFloatParamDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.runtime.ecuc.internal.pm.adapt.GEnumerationParamDefAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GEnumerationParamDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.runtime.ecuc.internal.pm.adapt.GReferenceDefAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GReferenceDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.runtime.ecuc.internal.pm.adapt.GChoiceReferenceDefAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GChoiceReferenceDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.runtime.ecuc.internal.pm.adapt.GForeignReferenceDefAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GForeignReferenceDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.runtime.ecuc.internal.pm.adapt.GInstanceReferenceDefAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GInstanceReferenceDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMElementInfo">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.sphinx.emf.editingDomainFactoryListeners">
      <listener
            class="eu.cessar.ct.runtime.ecuc.internal.EditingDomainFactoryListener"
            id="eu.cessar.ct.runtime.ecuc.ecucEditingDomainListener">
         <applicableFor
               metaModelDescriptorIdPattern="org\.artop\.aal\.autosar.+">
         </applicableFor>
      </listener>
   </extension>
   <extension
         point="eu.cessar.ct.core.platform.sdkService">
      <service
            provider="eu.cessar.ct.runtime.ecuc.internal.pm.PMUtilsServiceProvider"
            serviceID="eu.cessar.ct.sdk.utils.PMUtils$Service">
      </service>
      <service
            provider="eu.cessar.ct.runtime.ecuc.internal.EcucUtilsServiceProvider"
            serviceID="eu.cessar.ct.sdk.utils.EcucUtils$Service">
      </service>
      <service
            provider="eu.cessar.ct.runtime.ecuc.internal.sea.SEAModelUtilServiceProvider"
            serviceID="eu.cessar.ct.sdk.sea.util.SEAModelUtil$Service">
      </service>
      <service
            provider="eu.cessar.ct.runtime.ecuc.internal.autofill.AutofillUtilsServiceProvider"
            serviceID="eu.cessar.ct.sdk.utils.AutomaticValuesUtils$Service">
      </service>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="eu.cessar.ct.runtime.internal.classpath.ModelClasspathContainerInitializer"
            id="eu.cessar.ct.runtime.classpath.modelClasspathContainer">
      </classpathContainerInitializer>
   </extension>
</plugin>
