<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="eu.cessar.ct.runtime.ecuc.ui.runPlugetFile"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.cessar.ct.runtime.ecuc.ui.internal.menu.RunPlugetFileAction"
               enablesFor="1"
               icon="images/pluget.png"
               id="eu.cessar.ct.runtime.ecuc.ui.runPlugetAction"
               label="Run selected pluget"
               menubarPath="eu.cessar.ct.ui.navigator.menu/additions">
         </action>
         <enablement>
            <and>
            	<test 
            		property="org.eclipse.core.resources.projectNature" 
            		value="eu.cessar.ct.core.platform.cessarnature">            	
            	</test>
            	<test 
            		property="org.eclipse.core.resources.contentTypeId" 
            		value="eu.cessar.ct.runtime.contenttype.pluget">            	
            	</test>
            </and>
         </enablement>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.cessar.ct.runtime.ecuc.ui.dumpPresentationModel"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="eu.cessar.ct.runtime.ecuc.ui.internal.menu.DumpPresentationModelAPIAction"
               definitionId="eu.cessar.ct.runtime.ecuc.ui.DumpPresentationModelCommand"
               enablesFor="1"
               id="eu.cessar.ct.runtime.ecuc.ui.dumpPresentationModelAction"
               label="Dump presentation model"
               menubarPath="eu.cessar.ct.ui.navigator.menu/pm">
         </action>
         <visibility>
           <objectState
                 name="projectNature"
                 value="eu.cessar.ct.core.platform.cessarnature">
           </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.cessar.ct.runtime.ecuc.ui.runPlugetClass"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <action
               class="eu.cessar.ct.runtime.ecuc.ui.internal.menu.RunPlugetClassAction"
               definitionId="eu.cessar.ct.runtime.ecuc.ui.RunPlugetCommand"
               enablesFor="1"
               icon="images/pluget.png"
               id="eu.cessar.ct.runtime.ecuc.ui.action1"
               label="Run pluget"
               menubarPath="eu.cessar.ct.ui.navigator.menu/additions">
         </action>
          <action
               class="eu.cessar.ct.runtime.ecuc.ui.internal.menu.ExportPlugetClassAction"
               icon="images/pluget.png"
               id="eu.cessar.ct.runtime.ecuc.ui.exportpluget"
               label="Export Pluget"
               menubarPath="eu.cessar.ct.ui.navigator.menu/additions">
         </action>
         <enablement>
            <or>
            	<test
                   args="eu.cessar.ct.sdk.ICessarPluget"
                   property="org.eclipse.jdt.launching.extendsInterface"
                   value="eu.cessar.ct.sdk.ICessarPluget">
            	</test>
            	<test
                   args="org.autosartools.ecuconfig.pdk.core.IMosartPluget"
                   property="org.eclipse.jdt.launching.extendsInterface"
                   value="org.autosartools.ecuconfig.pdk.core.IMosartPluget">
            	</test>
            </or>
         </enablement>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.cessar.ct.runtime.ecuc.ui.selectRunPluget"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="eu.cessar.ct.runtime.ecuc.ui.internal.actions.RunPlugetAction"
               icon="images/pluget.png"
               id="eu.cessar.ct.runtime.ecuc.ui.selectRunPlugetAction"
               label="Run pluget ..."
               menubarPath="eu.cessar.ct.ui.navigator.menu/additions">
         </action>
         <filter
               name="projectNature"
               value="eu.cessar.ct.core.platform.cessarnature">
         </filter>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.cessar.ct.runtime.ecuc.ui.runAnt"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="eu.cessar.ct.runtime.ecuc.ui.internal.actions.RunAntAction"
               icon="images/ant.gif"
               id="eu.cessar.ct.runtime.ecuc.ui.runAntAction"
               label="Run Ant..."
               menubarPath="eu.cessar.ct.ui.navigator.menu/additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            icon="images/pluget.png"
            id="eu.cessar.ct.runtime.ecuc.ui.plugetDecorator"
            label="Pluget Decorator"
            lightweight="false"
            state="true">
         <enablement>
            <and>
               <objectState
                     name="projectNature"
                     value="eu.cessar.ct.core.platform.cessarnature">
               </objectState>
               <objectState
                     name="contentTypeId"
                     value="eu.cessar.ct.runtime.contenttype.pluget">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="eu.cessar.ct.platform.CessarPerspective">
         <actionSet
               id="org.eclipse.jdt.ui.JavaActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.jdt.ui.SearchActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.ui.NavigateActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="pluget"
            id="eu.cessar.ct.runtime.ecuc.ui.pluget.launcher"
            launcher="eu.cessar.ct.runtime.ecuc.ui.internal.menu.CessarPlugetLauncher"
            name="Run Launcher">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            id="eu.cessar.ct.runtime.ecuc.ui.editor1"
            name="name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eu.cessar.ct.runtime.ecuc.ui.DumpPresentationModelCommand"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+SHIFT+B">
      </key>
      <key
            commandId="eu.cessar.ct.runtime.ecuc.ui.RunPlugetCommand"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+SHIFT+H">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="eu.cessar.ct.runtime.ecuc.ui.cessarctCathegory"
            id="eu.cessar.ct.runtime.ecuc.ui.DumpPresentationModelCommand"
            name="Dump Presentation Model">
      </command>
      <command
            categoryId="eu.cessar.ct.runtime.ecuc.ui.cessarctCathegory"
            id="eu.cessar.ct.runtime.ecuc.ui.RunPlugetCommand"
            name="Run Pluget">
      </command>
      <category
            id="eu.cessar.ct.runtime.ecuc.ui.cessarctCathegory"
            name="CESSAR-CT">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.cessar.ct.runtime.ecuc.ui.internal.actions.DumpPresentationModelHandler"
            commandId="eu.cessar.ct.runtime.ecuc.ui.DumpPresentationModelCommand">
      </handler>
      <handler
            class="eu.cessar.ct.runtime.ecuc.ui.internal.actions.RunPlugetHandler"
            commandId="eu.cessar.ct.runtime.ecuc.ui.RunPlugetCommand">
      </handler>
   </extension>

</plugin>
