<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.cessar.ct.core.mms.emfAdaptorOverride">
      <factory
            factory="eu.cessar.ct.compat.internal.pm.adapt.RootNodeCompatAdapterFactory"
            priority="0"
            target="org.eclipse.core.resources.IProject">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMCompatElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.compat.internal.pm.adapt.GARPackageCompatAdapterFactory"
            priority="0"
            target="gautosar.ggenericstructure.ginfrastructure.GARPackage">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMCompatElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.compat.internal.pm.adapt.GModuleDefCompatAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GModuleDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMCompatElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.compat.internal.pm.adapt.GParamConfContainerDefCompatAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GParamConfContainerDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMCompatElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.compat.internal.pm.adapt.GChoiceContainerDefCompatAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GChoiceContainerDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMCompatElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.compat.internal.pm.adapt.GAbstractStringParamDefCompatAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GAbstractStringParamDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMCompatElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.compat.internal.pm.adapt.GBooleanParamDefCompatAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GBooleanParamDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMCompatElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.compat.internal.pm.adapt.GIntegerParamDefCompatAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GIntegerParamDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMCompatElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.compat.internal.pm.adapt.GFloatParamDefCompatAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GFloatParamDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMCompatElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.compat.internal.pm.adapt.GEnumerationParamDefCompatAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GEnumerationParamDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMCompatElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.compat.internal.pm.adapt.GReferenceDefCompatAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GReferenceDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMCompatElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.compat.internal.pm.adapt.GChoiceReferenceDefCompatAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GChoiceReferenceDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMCompatElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.compat.internal.pm.adapt.GForeignReferenceDefCompatAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GForeignReferenceDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMCompatElementInfo">
         </adapter>
      </factory>
      <factory
            factory="eu.cessar.ct.compat.internal.pm.adapt.GInstanceReferenceDefCompatAdapterFactory"
            priority="0"
            target="gautosar.gecucparameterdef.GInstanceReferenceDef">
         <adapter
               type="eu.cessar.ct.runtime.ecuc.pm.IPMCompatElementInfo">
         </adapter>
      </factory>
   </extension>
   <extension
         point="eu.cessar.ct.runtime.cessarTask">
      <task
            factory="eu.cessar.ct.compat.internal.execution.pluget.PlugetCompatTaskManagerFactory"
            id="pluget_COMPAT21">
      </task>
      <task
            factory="eu.cessar.ct.compat.internal.execution.pluget.PlugetCompatTaskManagerFactory"
            id="pluget_COMPAT3x">
      </task>
      <task
            factory="eu.cessar.ct.compat.internal.execution.pluget.PlugetClassCompatTaskManagerFactory"
            id="pluget.class_COMPAT21">
      </task>
      <task
            factory="eu.cessar.ct.compat.internal.execution.pluget.PlugetClassCompatTaskManagerFactory"
            id="pluget.class_COMPAT3x">
      </task>
   </extension>
   <extension
         point="eu.cessar.ct.core.platform.sdkService">
      <service
            provider="eu.cessar.ct.compat.internal.sdk.CompatibilityUtilsServiceProvider"
            serviceID="eu.cessar.ct.compat.internal.sdk.CompatibilityUtils$Service">
      </service>
      <service
            provider="org.autosartools.ecuconfig.codegen.core.impl.JetUtilServiceProvider"
            serviceID="org.autosartools.ecuconfig.codegen.core.JetUtil$Service">
      </service>
   </extension>

</plugin>
