<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.debug.ui.launchShortcuts">
         <shortcut
               category="org.eclipse.ui.externaltools"
               class="eu.cessar.ct.core.internal.platform.ui.ant.AntLaunchShortcut"
               icon="images/ant.gif"
               id="eu.cessar.ct.core.platform.ui.antLaunchShortcut"
               label="%antLaunchConfigurationName"
               modes="run,debug">
          <contextualLaunch>
             <enablement>
                <with
                      variable="selection">
                   <count
                         value="1">
                   </count>
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <instanceof
                            value="org.eclipse.core.resources.IFile">
                      </instanceof>
                      <test
                            property="org.eclipse.debug.ui.matchesContentType"
                            value="org.eclipse.ant.core.antBuildFile">
                      </test>
                      <test
                            property="org.eclipse.core.resources.projectNature"
                            value="eu.cessar.ct.core.platform.cessarnature">
                      </test>
                   </iterate>
                </with>
             </enablement>
          </contextualLaunch>
       </shortcut>
       
        <shortcut
             category="org.eclipse.ui.externaltools"
             class="eu.cessar.ct.core.internal.platform.ui.ant.AntLaunchShortcutRebuild"
             icon="images/ant.gif"
             id="eu.cessar.ct.core.platform.ui.antLaunchShortcutRebuild"
             label="%antLaunchConfigurationNameRebuild"
             modes="run,debug">
          <contextualLaunch>
             <enablement>
                <with
                      variable="selection">
                   <count
                         value="1">
                   </count>
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <instanceof
                            value="org.eclipse.core.resources.IFile">
                      </instanceof>
                      <test
                            property="org.eclipse.debug.ui.matchesContentType"
                            value="org.eclipse.ant.core.antBuildFile">
                      </test>
                      <test
                            property="org.eclipse.core.resources.projectNature"
                            value="eu.cessar.ct.core.platform.cessarnature">
                      </test>
                   </iterate>
                </with>
             </enablement>
          </contextualLaunch>
       </shortcut>
   </extension>
   
     <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="eu.cessar.ct.core.internal.platform.ui.ant.CustomAntLaunchDelegate"
            delegateDescription="CESSAR-CT  Ant Launcher supports running CESSAR-CT specific Ant files."
            id="eu.cessar.ct.core.platform.ui.ant.CustomAntLaunchDelegate"
            modes="run"
            name="CESSAR-CT Ant"
            type="org.eclipse.ant.AntLaunchConfigurationType">
      </launchDelegate>
   </extension>
     <extension
           point="com.continental.ibs.swemt.stephandler.StepHandlerCommand">
        <StepHandlerCommand2
              ID="eu.cessar.ct.core.platform.ui.AntRunnerSHCommand"
              Version="1.0.0"
              class="eu.cessar.ct.core.internal.platform.ui.ant.AntRunnerSHCommand"
              runInUIThread="false">
        </StepHandlerCommand2>
     </extension>
     <extension
           point="org.eclipse.ltk.core.refactoring.renameParticipants">
        <renameParticipant
              class="eu.cessar.ct.core.internal.platform.ui.ant.refactoring.AntUIParticipant"
              id="eu.cessar.ct.core.platform.ui.antUIParticipant"
              name="Update Cessar Ant properties">
          <enablement>
           <with variable="element">
   	         <instanceof value="org.eclipse.core.resources.IProject"/>
           </with>
         </enablement>
        </renameParticipant>
     </extension>
</plugin>
