<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.cessar.ct.edit.ui.editors" name="editors" schema="schema/editors.exsd"/>
   <extension-point id="eu.cessar.ct.edit.ui.editorComposition" name="eu.cessar.ct.edit.ui.editorComposition" schema="schema/editorComposition.exsd"/>
   <extension-point id="eu.cessar.ct.edit.ui.dynamicLoaderContext" name="DynamicContext" schema="schema/eu.cessar.ct.edit.ui.dynamicLoaderContext.exsd"/>
   <extension-point id="eu.cessar.ct.edit.ui.dynamicLoader" name="DynamicLoader" schema="schema/eu.cessar.ct.edit.ui.dynamicloader.exsd"/>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="eu.cessar.ct.edit.cessar"
            label="%theme.cessar">
      </themeElementCategory>
      <themeElementCategory
            id="eu.cessar.ct.edit.cessar.facility"
            label="%theme.cessar.editing"
            parentId="eu.cessar.ct.edit.cessar">
      </themeElementCategory>
      <fontDefinition
            categoryId="eu.cessar.ct.edit.cessar.facility"
            id="eu.cessar.ct.editfacility.optsetfont"
            isEditable="true"
            label="%theme.cessar.editing.optsetfont"
            value="Tahoma-regular-8">
      </fontDefinition>
      <colorDefinition
            categoryId="eu.cessar.ct.edit.cessar.facility"
            id="eu.cessar.ct.editfacility.optsetcolor"
            isEditable="true"
            label="%theme.cessar.editing.optsetfont"
            value="COLOR_BLACK">
      </colorDefinition>
      <fontDefinition
            categoryId="eu.cessar.ct.edit.cessar.facility"
            id="eu.cessar.ct.editfacility.optunsetfont"
            isEditable="true"
            label="%theme.cessar.editing.optunsetfont"
            value="Tahoma-italic-8">
      </fontDefinition>
      <colorDefinition
            categoryId="eu.cessar.ct.edit.cessar.facility"
            id="eu.cessar.ct.editfacility.optunsetcolor"
            isEditable="true"
            label="%theme.cessar.editing.optunsetfont"
            value="COLOR_BLACK">
      </colorDefinition>
      <fontDefinition
            categoryId="eu.cessar.ct.edit.cessar.facility"
            id="eu.cessar.ct.editfacility.mndsetfont"
            isEditable="true"
            label="%theme.cessar.editing.mndsetfont"
            value="Tahoma-bold-8">
      </fontDefinition>
      <colorDefinition
            categoryId="eu.cessar.ct.edit.cessar.facility"
            id="eu.cessar.ct.editfacility.mndsetcolor"
            isEditable="true"
            label="%theme.cessar.editing.mndsetfont"
            value="COLOR_BLACK">
      </colorDefinition>
      <fontDefinition
            categoryId="eu.cessar.ct.edit.cessar.facility"
            id="eu.cessar.ct.editfacility.mndunsetfont"
            isEditable="true"
            label="%theme.cessar.editing.mndunsetfont"
            value="Tahoma-bold italic-8">
      </fontDefinition>
      <colorDefinition
            categoryId="eu.cessar.ct.edit.cessar.facility"
            id="eu.cessar.ct.editfacility.mndunsetcolor"
            isEditable="true"
            label="%theme.cessar.editing.mndunsetfont"
            value="COLOR_RED">
      </colorDefinition>
   </extension>
   <extension
         point="eu.cessar.ct.edit.ui.editors">
      <classifierDefinition
            category="main"
            class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultListFeatureEditor"
            classifierClass=".*"
            classifierType=".*"
            default="true"
            featureType="ENUM"
            id="DefaultEnumEditor"
            priority="50">
      </classifierDefinition>
         <classifierDefinition
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultReferenceFeatureEditor"
               classifierClass=".*"
               classifierType=".*"
               category="main"
               default="true"
               priority="50"
               featureType="REFERENCE"
               id="DefaultReferenceEditor"
               >
         </classifierDefinition>
         <classifierDefinition
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultPrimitiveFeatureEditor"
               classifierClass=".*"
               classifierType=".*"
               category="main"
               default="true"
               priority="50"
               featureType="PRIMITIVE"
               id="DefaultPrimitiveEditor"
               >
         </classifierDefinition>
         <classifierDefinition
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultBooleanFeatureEditor"
               classifierClass="java.lang.Boolean"
               classifierType="Boolean"
               category="main"
               default="false"
               priority="50"
               featureType="PRIMITIVE"
               id="DefaultBooleanEditor">
         </classifierDefinition>
         <classifierDefinition
               category="main"
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultBooleanFeatureEditor"
               classifierClass="java.lang.Boolean"
               classifierType="EBooleanObject"
               default="false"
               featureType="PRIMITIVE"
               id="DefaultBooleanEditor"
               priority="50">
         </classifierDefinition>
         <classifierDefinition
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultStringFeatureEditor"
               classifierClass="java.lang.String"
               classifierType=".*"
               category="main"
               default="false"
               priority="50"
               featureType="PRIMITIVE"
               id="DefaultStringEditor">
         </classifierDefinition>
         <classifierDefinition
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultIntegerFeatureEditor"
               classifierClass="java.lang.Integer"
               classifierType="Integer"
               category="main"
               default="false"
               priority="50"
               featureType="PRIMITIVE"
               id="DefaultIntegerEditor">
         </classifierDefinition>
         <classifierDefinition
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultUnlimitedIntegerFeatureEditor"
               classifierClass="java.math.BigInteger"
               classifierType="UnlimitedInteger"
               category="main"
               default="false"
               priority="50"
               featureType="PRIMITIVE"
               id="DefaultUnlimitedIntegerEditor">
         </classifierDefinition>
         <classifierDefinition
               category="main"
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultUnlimitedIntegerFeatureEditor"
               classifierClass="java.math.BigInteger"
               classifierType="EBigInteger"
               default="false"
               featureType="PRIMITIVE"
               id="DefaultEBigIntegerEditor"
               priority="50">
         </classifierDefinition>
         <classifierDefinition
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultUnlimitedNaturalFeatureEditor"
               classifierClass="java.math.BigInteger"
               classifierType="UnlimitedNatural"
               category="main"
               default="false"
               priority="50"
               featureType="PRIMITIVE"
               id="DefaultUnlimitedNaturalEditor">
         </classifierDefinition>
         <classifierDefinition
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultDoubleFeatureEditor"
               classifierClass="java.lang.Double"
               classifierType="Float"
               category="main"
               default="false"
               priority="50"
               featureType="PRIMITIVE"
               id="DefaultDoubleEditor">
         </classifierDefinition>
         <classifierDefinition
               category="main"
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultDoubleFeatureEditor"
               classifierClass="java.lang.Double"
               classifierType="TimeValue"
               default="false"
               featureType="PRIMITIVE"
               id="DefaultTimeValueEditor"
               priority="50">
         </classifierDefinition>
         <classifierDefinition
               category="main"
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultDoubleFeatureEditor"
               classifierClass="java.lang.Double"
               classifierType="EDoubleObject"
               default="false"
               featureType="PRIMITIVE"
               id="DefaultDoubleEditor"
               priority="50">
         </classifierDefinition>
         <classifierDefinition
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultDateTimeFeatureEditor"
               classifierClass="javax.xml.datatype.XMLGregorianCalendar"
               classifierType="DateTime"
               category="main"
               default="false"
               priority="50"
               featureType="PRIMITIVE"
               id="DefaultDateTimeEditor">
         </classifierDefinition>
         <classifierDefinition
               category="main"
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultLongFeatureEditor"
               classifierClass="java.lang.Long"
               classifierType="PositiveInteger"
               default="false"
               featureType="PRIMITIVE"
               id="DefaultLongEditor"
               priority="50">
         </classifierDefinition>
         <classifierDefinition
               category="main"
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultFeatureMapFeatureEditor"
               classifierClass="org.eclipse.emf.ecore.util.FeatureMap\$Entry"
               classifierType="EFeatureMapEntry"
               default="false"
               featureType="PRIMITIVE"
               id="DefaultFeatureMapEditor"
               priority="50">
         </classifierDefinition>
         <classifierDefinition
               category="main"
               class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultPositiveUnlimitedIntegerFeatureEditor"
               classifierClass="java.math.BigInteger"
               classifierType="PositiveUnlimitedInteger"
               default="false"
               featureType="PRIMITIVE"
               id="DefaultPositiveUnlimitedIntegerEditor"
               priority="50">
         </classifierDefinition>
   </extension>
   <extension
         point="eu.cessar.ct.edit.ui.editors">
      <featureDefinition
            cacheableType="SIMPLE"
            category="hidden"
            class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultPrimitiveFeatureEditor"
            id="GAUTOSAR.mixed"
            priority="50">
         <selector>
            <and>
               <eClass
                     regexp="GAUTOSAR">
               </eClass>
               <eFeature
                     regexp="mixed">
               </eFeature>
            </and>
         </selector>
      </featureDefinition>
      <classDefinition
            cacheableType="NONE"
            class="eu.cessar.ct.edit.ui.internal.facility.editors.TransientFeaturesEditorDelegate"
            id="GARObject.transient">
         <eClass
               regexp="GARObject">
         </eClass>
      </classDefinition>
      <featureDefinition
            cacheableType="SIMPLE"
            category="hidden"
            class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultStringFeatureEditor"
            id="GARObject.checksum"
            priority="50">
         <selector>
            <and>
               <eClass
                     regexp="GARObject">
               </eClass>
               <eFeature
                     regexp="checksum">
               </eFeature>
            </and></selector>
      </featureDefinition>
      <featureDefinition
            cacheableType="SIMPLE"
            category="hidden"
            class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultDateTimeFeatureEditor"
            id="GARObject.timestamp"
            priority="50">
         <selector>
            <and>
               <eClass
                     regexp="GARObject">
               </eClass>
               <eFeature
                     regexp="timestamp">
               </eFeature>
            </and></selector>
      </featureDefinition>
      <featureDefinition
            cacheableType="SIMPLE"
            category="hidden"
            class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultStringFeatureEditor"
            id="GIdentifiable.uuid"
            priority="50">
         <selector>
            <and>
               <eClass
                     regexp="GIdentifiable">
               </eClass>
               <eFeature
                     regexp="uuid">
               </eFeature>
            </and></selector>
      </featureDefinition>
      <featureDefinition
            cacheableType="SIMPLE"
            category="other"
            class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultStringFeatureEditor"
            id="GIdentifiable.category"
            priority="50">
         <selector>
            <and>
               <eClass
                     regexp="GIdentifiable">
               </eClass>
               <eFeature
                     regexp="category">
               </eFeature>
            </and></selector>
      </featureDefinition>
      <classDefinition
            cacheableType="SIMPLE"
            class="eu.cessar.ct.edit.ui.internal.facility.editors.ReferencedByEditorDelegate"
            id="GARObject.referencedBy">
         <eClass
               regexp="GARObject"></eClass>
      </classDefinition>
   </extension>
   <extension
         point="eu.cessar.ct.edit.ui.editors">
      <featureDefinition
            cacheableType="SIMPLE"
            category="main"
            class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultStringFeatureEditor"
            id="GIdentifiable.shortName"
            priority="0">
         <selector>
            <and>
               <eClass
                     regexp="GReferrable">
               </eClass>
               <eFeature
                     regexp="shortName">
               </eFeature>
            </and>
         </selector>
      </featureDefinition>
      <featureDefinition
            cacheableType="SIMPLE"
            category="hidden"
            class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultReferenceFeatureEditor"
            id="GIdentifiable.definition"
            priority="50">
         <selector>
            <and>
               <eClass
                     regexp="GReferrable">
               </eClass>
               <eFeature
                     regexp="definition">
               </eFeature>
            </and></selector>
      </featureDefinition>
      <featureDefinition
            cacheableType="SIMPLE"
            category="other"
            class="eu.cessar.ct.edit.ui.internal.facility.editors.GIdentifiableLongNameFeatureEditor"
            id="GIdentifiable.longName"
            priority="50">
         <selector>
            <and>
               <eClass
                     regexp="GIdentifiable"></eClass>
               <eFeature
                     regexp="longName">
               </eFeature>
            </and></selector>
      </featureDefinition>
      <featureDefinition
            cacheableType="SIMPLE"
            category="other"
            class="eu.cessar.ct.edit.ui.internal.facility.editors.GIdentifiableDescriptionFeatureEditor"
            id="GIdentifiable.desc"
            priority="50">
         <selector>
            <and>
               <eClass
                     regexp="GIdentifiable">
               </eClass>
               <eFeature
                     regexp="desc">
               </eFeature>
            </and>
         </selector>
      </featureDefinition>
      <featureDefinition
            cacheableType="NONE"
            category="main"
            class="eu.cessar.ct.edit.ui.internal.facility.editors.SystemIRefEditor"
            id="SystemIRef.target.context"
            priority="50">
         <selector>
            <and>
               <selectorProvider
                     value="eu.cessar.ct.edit.ui.instanceref.SysIRefSelectorProvider">
               </selectorProvider>
            </and>
         </selector>
      </featureDefinition>
      <featureDefinition
            cacheableType="SIMPLE"
            category="hidden"
            class="eu.cessar.ct.edit.ui.internal.facility.editors.DefaultReferenceFeatureEditor"
            id="contextFeatures"
            priority="50">
         <selector>
            <and>
               <selectorProvider
                     value="eu.cessar.ct.edit.ui.instanceref.SysContextSelectorProvider">
               </selectorProvider>
            </and></selector>
      </featureDefinition>
   </extension>
      <extension
         point="eu.cessar.ct.edit.ui.editors">
      <classDefinition
            cacheableType="SIMPLE"
            class="eu.cessar.ct.edit.ui.internal.facility.validation.ValidationEditorDelegate"
            id="GARObject.validation">
         <eClass
               regexp="GARObject">
         </eClass>
      </classDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="eu.cessar.ct.edit.ui.GoToDefinitionGModule"
            objectClass="gautosar.gecucdescription.GModuleConfiguration">
         <action
               class="eu.cessar.ct.edit.ui.internal.actions.GoToDefinition"
               id="eu.cessar.ct.edit.ui.GoToDefinition"
               label="%action.gotoDefinition"
               menubarPath="eu.cessar.ct.ui.navigator.menu/additions">
         </action>
         <visibility>
            <and>
               <not>
                  <objectClass
                        name="org.artop.aal.gautosar.services.splitting.Splitable">
                  </objectClass>
               </not>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.cessar.ct.edit.ui.GoToDefinitionGContainer"
            objectClass="gautosar.gecucdescription.GContainer">
         <action
               class="eu.cessar.ct.edit.ui.internal.actions.GoToDefinition"
               id="eu.cessar.ct.edit.ui.GoToDefinition"
               label="%action.gotoDefinition"
               menubarPath="eu.cessar.ct.ui.navigator.menu/additions">
         </action>
         <visibility>
            <and>
               <not>
                  <objectClass
                        name="org.artop.aal.gautosar.services.splitting.Splitable">
                  </objectClass>
               </not>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.cessar.ct.edit.ui.copyQName"
            objectClass="gautosar.ggenericstructure.ginfrastructure.GReferrable">
         <action
               class="eu.cessar.ct.edit.ui.internal.actions.CopyQualifiedNameAction"
               id="eu.cessar.ct.edit.ui.copyQName.action"
               label="Copy qualified name"
               menubarPath="eu.cessar.ct.ui.navigator.menu/additions"
               >
         </action>
      </objectContribution>
   </extension>
   <extension
         point="eu.cessar.ct.edit.ui.editors">
      <relationDefinition
            provider="eu.cessar.ct.edit.ui.facility.expansion.editors.SibilingRelationEditorExpansionProvider">
         <masterEditor
               masterEditorID="GIdentifiable.shortName">
         </masterEditor>
         <properties
               key="child0"
               value="longName">
         </properties>
         <properties
               key="child1"
               value="desc">
         </properties>
         <properties
               key="child2"
               value="category">
         </properties>
      </relationDefinition>
   </extension>
   <extension
         point="eu.cessar.ct.edit.ui.editorComposition">
      <compositionDefinition
            input="EObject"
            provider="eu.cessar.ct.edit.ui.internal.facility.composition.SimpleCompositionProvider"
            type="SIMPLE">
      </compositionDefinition>
      <compositionDefinition
            input="EObject"
            provider="eu.cessar.ct.edit.ui.internal.facility.composition.SYSTEMCompositionProvider"
            type="SYSTEM">
      </compositionDefinition>
   </extension> >
 </plugin>
