<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="eu.cessar.ct.newWizards.category"
            name="%cessar.ct.category">
      </category>
      <wizard
            category="eu.cessar.ct.newWizards.category"
            class="eu.cessar.ct.ecuc.workspace.ui.internal.wizards.ModuleDefinitionWizard"
            hasPages="true"
            icon="icons/bsw_md.gif"
            id="eu.cessar.ct.ecuc.workspace.ui.wizards.module.definition"
            name="%wizard.module.definition"
            project="false">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
         <description>
            %wizards.module.definition.description
         </description>
      </wizard>
      <wizard
            category="eu.cessar.ct.newWizards.category"
            class="eu.cessar.ct.ecuc.workspace.ui.internal.wizards.ModuleConfigurationWizard"
            hasPages="true"
            icon="icons/ecuc_file.gif"
            id="eu.cessar.ct.ecuc.workspace.ui.wizards.module.configuration"
            name="%wizard.module.configuration"
            project="false">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
         <description>
            %wizards.module.configuration.description
         </description>
      </wizard>
      <wizard
            category="eu.cessar.ct.newWizards.category"
            class="eu.cessar.ct.ecuc.workspace.ui.internal.wizards.NewPlugetWizard"
            hasPages="true"
            icon="icons/pluget.png"
            id="eu.cessar.ct.ecuc.workspace.ui.wizards.newpluget.description"
            name="%wizards.newpluget"
            project="false">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
         <description>
            %wizards.newpluget.description
         </description>
      </wizard>
   </extension>
   <!--extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="eu.cessar.ct.platform.CessarPerspective">
         <newWizardShortcut
               id="eu.cessar.ct.ecuc.workspace.ui.wizards.module.definition">
         </newWizardShortcut>
         <newWizardShortcut
               id="eu.cessar.ct.ecuc.workspace.ui.wizards.module.configuration">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension-->
   <!--extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="_cessar"
            type="new"
            wizardId="eu.cessar.ct.ecuc.workspace.ui.wizards.module.definition">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="eu.cessar.ct.core.platform.cessarnature">
               </test>
            </adapt>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="_cessar"
            type="new"
            wizardId="eu.cessar.ct.ecuc.workspace.ui.wizards.module.configuration">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="eu.cessar.ct.core.platform.cessarnature">
               </test>
            </adapt>
         </enablement>
      </commonWizard>
   </extension-->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="eu.cessar.ct.ecuc.workspace.ui.wizards.new.module"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="eu.cessar.ct.ecuc.workspace.ui.actions.NewModuleConfigurationAction"
               helpContextId="new_module_configuration_wizard_context"
               icon="icons/ecuc_file.gif"
               id="eu.cessar.ct.ecuc.workspace.ui.wizards.newModuleConfig"
               label="%new.wizard.module.configuration"
               menubarPath="eu.cessar.ct.ui.navigator.menu/newModule">
         </action>
         <action
               class="eu.cessar.ct.ecuc.workspace.ui.actions.NewModuleDefinitionAction"
               helpContextId="new_bsw_module_definitions_wizard_context"
               icon="icons/bsw_md.gif"
               id="eu.cessar.ct.ecuc.workspace.ui.wizards.newModuleDefinition"
               label="%new.wizard.module.definition"
               menubarPath="eu.cessar.ct.ui.navigator.menu/newModule">
         </action>
         <action
               class="eu.cessar.ct.ecuc.workspace.ui.actions.NewPlugetAction"
               definitionId="eu.cessar.ct.ecuc.workspace.ui.NewPlugetCommand"
               helpContextId="new_pluget_wizard_page_context"
               icon="icons/pluget.png"
               id="eu.cessar.ct.ecuc.workspace.ui.wizards.newpluget"
               label="%actions.newpluget"
               menubarPath="eu.cessar.ct.ui.navigator.menu/newProject">
         </action>
         <filter
               name="projectNature"
               value="eu.cessar.ct.core.platform.cessarnature">
         </filter>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.cessar.ct.ecuc.workspace.ui.syncAction"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="eu.cessar.ct.ecuc.workspace.ui.actions.SynchronizationAction"
               id="eu.cessar.ct.ecuc.workspace.ui.action1"
               label="%sync.action"
               menubarPath="eu.cessar.ct.ui.navigator.menu/cleanGroup">
         </action>
         <visibility>
            <or>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
               </and>
               <or>
                  <and>
                     <objectClass
                           name="org.eclipse.core.resources.IFile">
                     </objectClass>
                     <objectState
                           name="contentTypeId"
                           value="org.artop.aal.autosar21.autosar21XMLFile">
                     </objectState>
                  </and>
                  <and>
                     <objectClass
                           name="org.eclipse.core.resources.IFile">
                     </objectClass>
                     <objectState
                           name="contentTypeId"
                           value="org.artop.aal.autosar3x.autosar3xXMLFile">
                     </objectState>
                  </and>
                  <and>
                     <objectClass
                           name="org.eclipse.core.resources.IFile">
                     </objectClass>
                     <objectState
                           name="contentTypeId"
                           value="org.artop.aal.autosar40.autosar40XMLFile">
                     </objectState>
                  </and>
               </or>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IFolder">
                  </objectClass>
               </and>
            </or>
         </visibility>
         <enablement>
            <test 
                  property="org.eclipse.core.resources.projectNature" 
            	  value="eu.cessar.ct.core.platform.cessarnature">            	
            </test>
         </enablement>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.cessar.ct.ecuc.workspace.ui.SyncActionEObject"
            objectClass="gautosar.ggenericstructure.ginfrastructure.GIdentifiable">
         <action
               class="eu.cessar.ct.ecuc.workspace.ui.actions.SynchronizationAction"
               id="eu.cessar.ct.ecuc.workspae.ui.SyncMC"
               label="%sync.action"
               menubarPath="eu.cessar.ct.ui.navigator.menu/cleanGroup">
         </action>
         <visibility>
            <and>
               <or>
                  <objectClass
                        name="gautosar.gecucdescription.GModuleConfiguration">
                  </objectClass>
                  <objectClass
                        name="gautosar.gecucdescription.GContainer">
                  </objectClass>
                  <objectClass
                        name="gautosar.ggenericstructure.ginfrastructure.GARPackage">
                  </objectClass>
               </or>
               <not>
                  <objectClass
                        name="org.artop.aal.gautosar.services.splitting.Splitable">
                  </objectClass>
               </not>
            </and>
         </visibility>
         <filter
               name="projectNature"
               value="eu.cessar.ct.core.platform.cessarnature">
         </filter>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.cessar.ct.ecuc.workspace.ui.wizards.convert.configuration"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="eu.cessar.ct.ecuc.workspace.ui.actions.ConvertConfigurationAction"
               icon="icons/ecuc_file.gif"
               id="eu.cessar.ct.ecuc.workspace.ui.wizards.convertConfiguration"
               label="%conversion.wizard.module.configuration"
               menubarPath="eu.cessar.ct.ui.navigator.menu/additions">
         </action>
         <filter
               name="projectNature"
               value="eu.cessar.ct.core.platform.cessarnature">
         </filter>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="eu.cessar.ct.ecuc.workspace.ui.sortAction"
            objectClass="gautosar.ggenericstructure.ginfrastructure.GARObject">
         <action
               class="eu.cessar.ct.ecuc.workspace.ui.actions.EcucSortAction"
               id="eu.cessar.ct.ecuc.workspace.ui.EcucSort"
               label="Sort"
               menubarPath="eu.cessar.ct.ui.navigator.menu/sort">
         </action>
         <visibility>
            <and>
               <or>
                  <objectClass
                        name="gautosar.gecucdescription.GContainer">
                  </objectClass>
                  <objectClass
                        name="gautosar.gecucdescription.GModuleConfiguration">
                  </objectClass>
               </or>
               <not>
                  <objectClass
                        name="org.artop.aal.gautosar.services.splitting.Splitable">
                  </objectClass>
               </not>
            </and></visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eu.cessar.ct.ecuc.workspace.ui.NewPlugetCommand"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+SHIFT+K">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="eu.cessar.ct.ecuc.workspace.ui.cessarctCathegory"
            id="eu.cessar.ct.ecuc.workspace.ui.NewPlugetCommand"
            name="New Pluget">
      </command>
      <category
            id="eu.cessar.ct.ecuc.workspace.ui.cessarctCathegory"
            name="CESSAR-CT">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.cessar.ct.ecuc.workspace.ui.actions.NewPlugetCommandHandler"
            commandId="eu.cessar.ct.ecuc.workspace.ui.NewPlugetCommand">
      </handler>
   </extension>

</plugin>
