<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
          <launchConfigurationType
            delegate="eu.cessar.ct.pluget.debug.ui.internal.PlugetLaunchConfigurationDelegate"
            delegateDescription="%launchConfigurationDescription"
            delegateName="%launchConfigurationDelegateName"
            id="eu.cessar.ct.pluget.debug.ui.launchConfigurationType"
            modes="debug"
            name="%launchConfigurationName"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
          <!--launchConfigurationType
                delegate="eu.cessar.ct.pluget.debug.ui.internal.PlugetClassLaunchConfigurationDelegate"
                delegateDescription="%launchConfigurationDescription"
                delegateName="%launchConfigurationDelegateName"
                id="eu.cessar.ct.pluget.debug.ui.classlaunchConfigurationType"
                modes="debug"
                name="%launchConfigurationName"
                sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
                sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
          </launchConfigurationType-->
   </extension>
   
    <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="eu.cessar.ct.pluget.debug.ui.launchConfigurationType"
            icon="icons/pluget.png"
            id="eu.cessar.ct.pluget.debug.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
      <!--launchConfigurationTypeImage
            configTypeID="eu.cessar.ct.pluget.debug.ui.classlaunchConfigurationType"
            icon="icons/pluget.jpg"
            id="eu.cessar.ct.pluget.debug.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage-->
   </extension>
    <extension
          point="org.eclipse.debug.ui.launchConfigurationTabGroups">
           <launchConfigurationTabGroup
            class="eu.cessar.ct.pluget.debug.ui.internal.PlugetLaunchConfigurationTabGroup"
            description="%launchConfigurationTabGroupDescription"
            id="eu.cessar.ct.pluget.debug.ui.launchConfigurationTabGroup"
            type="eu.cessar.ct.pluget.debug.ui.launchConfigurationType">
      </launchConfigurationTabGroup>
           <!--launchConfigurationTabGroup
                 class="eu.cessar.ct.pluget.debug.ui.internal.PlugetClassLaunchConfigurationTabGroup"
                 description="%launchConfigurationTabGroupDescription"
                 id="eu.cessar.ct.pluget.debug.ui.classlaunchConfigurationTabGroup"
                 type="eu.cessar.ct.pluget.debug.ui.classlaunchConfigurationType">
           </launchConfigurationTabGroup-->
    </extension>
    <extension
          point="org.eclipse.debug.ui.launchShortcuts">
           <shortcut
            class="eu.cessar.ct.pluget.debug.ui.internal.PlugetLaunchShortcut"
            description="%launchConfigurationDescription"
            icon="icons/pluget.png"
            id="eu.cessar.ct.pluget.debug.ui.launchShortcut"
            label="%launchConfigurationName"
            modes="debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesContentType"
                           value="eu.cessar.ct.runtime.contenttype.pluget">
                     </test>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="eu.cessar.ct.core.platform.cessarnature">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
           <shortcut
                 class="eu.cessar.ct.pluget.debug.ui.internal.PlugetClassLaunchShortcut"
                 description="%launchConfigurationDescription"
                 icon="icons/pluget.png"
                 id="eu.cessar.ct.pluget.debug.ui.classlaunchShortcut"
                 label="%launchConfigurationName"
                 modes="debug">
              <contextualLaunch>
                 <enablement>
                    <with
                          variable="selection">
                       <count
                             value="1">
                       </count>
                       <iterate
                             ifEmpty="false"
                             operator="or">
                          <or>
                             <test
                                   args="eu.cessar.ct.sdk.ICessarPluget"
                                   forcePluginActivation="false"
                                   property="org.eclipse.jdt.launching.extendsInterface">
                             </test>
                             <test
                                   args="org.autosartools.ecuconfig.pdk.core.IMosartPluget"
                                   forcePluginActivation="false"
                                   property="org.eclipse.jdt.launching.extendsInterface">
                             </test>
                          </or>
                       </iterate>
                    </with>
                 </enablement>
              </contextualLaunch>
           </shortcut>
    </extension>

 	<extension
           point="org.eclipse.ltk.core.refactoring.renameParticipants">
        <renameParticipant
              class="eu.cessar.ct.pluget.debug.ui.refactoring.DebugRenameParticipant"
              id="eu.cessar.ct.pluget.debug.ui.refactoring.DebugRenameParticipant"
              name="name">
          <enablement>
           <with variable="element">
   	         <instanceof value="org.eclipse.core.resources.IProject"/>
           </with>
         </enablement>
        </renameParticipant>
     </extension>


</plugin>
